:root {
  --green: #17b978;
  --snow: #fff;
  --error: #ff5959;
  --pale-dark: rgba(0, 0, 0, 0.75);
  --fade-dark: rgba(0, 0, 0, 0.25);
  --carbon: #303a52;
  --sky-blue: rgb(242, 247, 253);
  --cyan-blue: rgb(197, 218, 245);
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Regular.ttf') format('woff');
}

h1,
h1,
h3,
h4,
h5,
h6,
div,
span,
p,
pre,
header,
footer {
  font-family: 'Nunito', Georgia, 'Times New Roman', Times, serif;
  line-height: 1.1;
}

.form-control {
  font-size: 14px !important;
  color: var(--pale-dark);
  border-radius: 4px !important;
  line-height: 1px !important;
}

.form-label {
  font-size: 12px;
  color: var(--pale-dark);
  margin: 0 !important;
}

.form-control:focus {
  border-color: var(--green) !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: var(--green);
  border-color: var(--green);
  opacity: 0.9;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
  opacity: 1 !important;
}

.btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  transition: 0.5s all !important;
}

.btn-primary:disabled {
  background-color: var(--green);
  border-color: var(--green);
  opacity: 0.5;
}

.error {
  font-size: 12px;
  color: var(--error);
}

.bg-sky-blue {
  background-color: var(--sky-blue) !important;
}

.cursor-pointer {
  cursor: pointer;
}

#editable-element {
  padding: 4px;
  color: var(--carbon);
  opacity: 1 !important;
  max-lines: 1 !important;
  max-height: 28px !important;
}

#editable-element:hover,
#editable-element:focus {
  outline: 2px solid var(--green) !important;
}
