/* CSS */
.btn {
  background-color: var(--yellow);
  border-radius: 8px;
  color: var(--dark);
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
